<main class="main">
  <app-swiper>
    <ng-template>
      <div class="hey">
        <table>
          <thead>
            <tr>
              <th colspan="2">The table header</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>The table body</td>
              <td>with two columns</td>
            </tr>
          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <th colspan="2">The table header</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>The table body</td>
              <td>with two columns</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
    <ng-template>
      <div class="2">Content for Slide 2</div>
    </ng-template>
    <ng-template>
      <div class="3">Content for Slide 3</div>
    </ng-template>
  </app-swiper>
</main>

<router-outlet></router-outlet>
