<div class="swiper">
  <div class="swiper-slides">
    <div class="slide-header"
        *ngFor="let slide of slides; let i = index"
        [ngClass]="{
          'active-slide': slide.visible,
          'slide-left': slide.direction === 'LEFT',
          'slide-right': slide.direction === 'RIGHT',
          'not-active-slide': !slide.visible
        }"
      >
        <div class="swiper-contain" [ngClass]="{ active: slide.visible }">
          <div class="swiper-header">
            <div class="arrow left" (click)="previousSlide()">&lt;</div>
            <h2 [ngClass]="{ active: slide.visible }" (click)="setActive(i)">
              {{ slide.title }}
            </h2>
            <div class="arrow right" (click)="nextSlide()">&gt;</div>
          </div>
          <ng-container *ngIf="slide.visible" class="slide-content-active">
            <ng-container
              *ngTemplateOutlet="slide.template ?? null"
            ></ng-container>
          </ng-container>
      </div>

    </div>
    <div class="swiper-pagination">
      <span
        *ngFor="let slide of slides; let i = index"
        [class.active]="slide.visible"
        (click)="goToSlide(i)"
        >&bull;</span
      >
    </div>
  </div>
</div>
